.cover {
  margin: 92px auto 92px;
  max-width: 1182px;
  background-image: url("../../images/cover-railway_station.jpg");
  display: block;
  text-decoration: none;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px){
  .cover {
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 440px){
  .cover {
    margin: 66px auto 64px;
  }
}
