.place__link {
  margin-right: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22/18);
  color: #fff;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.place__link:hover {
  opacity: 0.8;
}
